{deps, [
        {emqx, {git, "git@github.com:emqx/emqx.git", {branch, "emqx30"}}},
        {clique, {git,"git@github.com:emqx/clique.git", {branch, "develop"}}},
        {cuttlefish, {git, "git@github.com:emqx/cuttlefish.git", {branch, "v2.1.0"}}},
        {gen_coap, {git, "git@github.com:emqx/gen_coap", {branch, "v0.2.2"}}}
       ]}.

{edoc_opts, [{preprocess, true}]}.
{erl_opts, [warn_unused_vars,
            warn_shadow_vars,
            warn_unused_import,
            warn_obsolete_guard,
            debug_info,
            {parse_transform}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               warnings_as_errors, deprecated_functions]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
