{release, {emqtt_coap, "0.1"}, [
    sasl,
    eldap,
    os_mon,
    runtime_tools,
    {mnesia, load},
    esockd,
    emqttd,
    emqtt_coap
]}.

{extended_start_script, true}.
{sys_config, "rel/sys.config"}.
{vm_args, "rel/vm.args"}.

{overlay, [
    {template, "etc/acl.config", "etc/acl.config"},
    {template, "etc/rewrite.config", "etc/rewrite.config"},
    {template, "etc/clients.config", "etc/clients.config"}
]}.
