{release, {emqttd_coap, "0.2"}, [
    sasl,
    os_mon,
    runtime_tools,
    {mnesia, load},
    gen_conf,
    esockd,
    mochiweb,
    emqttd_coap
]}.

{extended_start_script, true}.

{sys_config, "rel/sys.config"}.

{vm_args, "rel/vm.args"}.

{overlay, [
    {mkdir, "etc/"},
    {copy, "etc/emqttd_coap.conf", "etc/emqttd_coap.conf"}
]}.
