{release, {emq_coap, "0.3.0"}, [
    sasl,
    os_mon,
    runtime_tools,
    {mnesia, load},
    esockd,
    mochiweb,
    emqttd_coap
]}.

{extended_start_script, true}.

{sys_config, "rel/sys.config"}.

{vm_args, "rel/vm.args"}.

{overlay, [
    {mkdir, "etc/"},
    {copy, "etc/emq_coap.conf", "etc/emq_coap.conf"}
]}.
